name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        cache: pip
    - run: rustup update stable && rustup default stable
    - run: rustup component add clippy
    - uses: taiki-e/install-action@v2
      with:
        tool: cargo-hack,just
    - uses: Swatinem/rust-cache@v2
    - run: just build
    - run: pip install -e .[test]
    - run: just check
    - run: just fmt --check
    - run: just test
  doc:
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/configure-pages@v3
    - run: rustup update nightly && rustup default nightly
    - uses: taiki-e/install-action@v2
      with:
        tool: just
    - uses: Swatinem/rust-cache@v2
    - run: just doc
    - uses: actions/upload-pages-artifact@v1
      with:
        path: target/doc
    - uses: actions/deploy-pages@v1
      if: github.ref_name == 'main'
      id: deployment
